#mainNavbar .navbar-brand {
    font-family: Lato;
font-style: normal;
font-weight: 900;
font-size: 26px;
line-height: 32px;
/* identical to box height, or 133% */

display: flex;
align-items: center;
letter-spacing: 0.2px;
text-transform: uppercase;
margin-left: 22px;
color: #1EA59F;
}

#mainNavbar .navbar-nav {
   margin-left: auto;
}

#mainNavbar .nav-item {
    font-family: Mulish;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 18px;
letter-spacing: 0.2px;
color: #373F41;

padding-right: 20px;
}

#mainNavbar .nav-icon {
    padding-right: 0px;
}

#mainNavbar .nav-item .active {
    color: #1EA59F;
}

