#mainNavbar .navbar-brand {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin-left: 22px;
    color: #1EA59F;
}

#mainNavbar .navbar-nav {
   margin-left: auto;
}

#mainNavbar .nav-item {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #373F41;
    padding-right: 20px;
}

#mainNavbar.nav-icon {
    padding-right: 0px;
}

#mainNavbar .nav-item .active {
    color: #1EA59F;
}

#greeting h1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 160px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #000000;
    align-items: center;
}

#greeting #xinchao {
    font-size: 80px;
}

#greeting p {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 38px;
    display: flex;
    align-items: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #000000;
}

#test .test-item {
    padding-top: 6rem;
}

#test .question h1 {
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 56px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #373F41;
    border: 1px solid #000000;
}

#rangeFeeling {
    width:60%;
    height: 1.5rem;
    padding-bottom: 30px;

}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #88CCC9; 
    height: 15px;
}
input[type="range"]::-webkit-slider-thumb {
    background-color:#dfeceb;
    height: 25px;
    width: 25px;
    align-items: center;    
}
#feelings {
    width: 65%;
}
#test h2 {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.2px;
    color: #373F41;
    margin-right: 24px;
}
#test .option {
    border: 3.13px solid #000000;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 35px;
    background-color: white;
    width: 150px;
}

.bigButton {
    background: #1EA59F;
    color: white;
    border-radius: 70px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
}

.bigButton:hover {
    color: white;
    background: #74CFCB;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#linkButtons {
    margin-top: 20px;
    margin-bottom: 300px;
}

#circle {
    border-radius: 50%;
    background-color: #88CCC9;
    height: 25rem;
    box-sizing: border-box;
    padding-top: 10%;    
    color: white;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    font-feature-settings: 'tnum' on, 'lnum' on;
}

//footer.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

